@import "../../constants";

.UserInfoSection {

  .UserInfoForm {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto auto;
    margin: 3% auto 5%;
    padding: 5% 15%;
    align-content: stretch;

    .UserInfoForm-Field_name {
      width: 95%;
      grid-row: 1;
    }

    .UserInfoForm-Field_surname {
      width: 95%;
      justify-self: right;
      grid-row: 1;
    }

    .UserInfoForm-Field_gender {
      grid-row: 2/5;
      align-self: center;

      .UserInfoForm-RadioFieldLabel {
        padding-top: 5%;
      }
      .UserInfoForm-RadioFieldGroup {
        .UserInfoForm-RadioButton {
        }
      }
    }

    .UserInfoForm-Field_card {
      grid-row: 2;
      grid-column: 2;
      width: 95%;
      justify-self: right;
      margin-top: 5%;

      .UserInfoForm-CardInput {
        padding-top: 2%;
        border: none;
      }
      .UserInfoForm-CardInput:focus {
        outline: none;
      }
    }
    .UserInfoForm-Field_isLoyalty {
      grid-row: 3;
      grid-column: 2;
      padding-top: 5%;
      width: 95%;
      justify-self: right;
    }

    .UserInfoForm-Field_coupon {
      grid-row: 4;
      grid-column: 2;
      width: 95%;
      justify-self: right;
    }

    .UserInfoForm-Button {
      grid-row: 6;
      grid-column: 1/3;
      background-color: $red;
      color: white;
      margin-top: 7%;
      width: 15%;
      justify-self: center;
    }

    .UserInfoForm-Button:hover {
      background-color: $red;
    }
    .UserInfoForm-Button:disabled {
      background-color: $red-inactive;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-max){
  .UserInfoSection {
    .UserInfoForm {
      border-radius: 0;
      grid-template-rows: repeat(7, auto);
      grid-template-columns: 100%;

      .UserInfoForm-Field {
        width: 100%;
        justify-self: center;
        grid-column: 1;
        padding: 5%;

      }
      .UserInfoForm-Field_name {
        grid-row: 1;
      }

      .UserInfoForm-Field_surname {
        grid-row: 2;
      }

      .UserInfoForm-Field_gender {
        grid-row: 3;
        align-self: center;

        .UserInfoForm-RadioFieldLabel {
          padding-top: 5%;
        }
      }

      .RUserInfoForm-Field_card {
        grid-row: 4;

        .UserInfoForm-CardInput {
          padding-top: 5%;
          border: none;
        }
        .UserInfoForm-CardInput:focus {
          outline: none;
        }
      }
      .UserInfoForm-Field_isLoyalty {
        grid-row: 5;
      }

      .UserInfoForm-Field_coupon {
        grid-row: 6;
      }
      .UserInfoForm-Button {
        grid-row: 7;
        height: 40px;
      }
    }
  }
}