@import "../../constants";

.About {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 5%;

  .About-Avatar {
    width: 200px;
    height: 200px;
    grid-row: 1;
    grid-column: 1;
  }

  .About-Name {
    grid-row: 1;
    grid-column: 2;
    font-size: 3em;
    align-self: center;
   // justify-self: center;
  }

  .About-Contacts {
    grid-row: 2/3;
    grid-column: 1;
    align-self: start;

    .About-Contact {
      display: flex;
      align-content: center;
      padding-top: 2%;
      *{
        padding-right: 5%;
      }
    }
    .About-ContactLink {
      padding-right: 5%;
      *{
        padding-top: 5%;
      }
    }
  }

  .About-SoftInfo {
    display: flex;
    flex-direction: column;
    grid-row: 3/5;

    .About-Location {
      padding-bottom: 40px;
      .About-Address {
        display: flex;
        align-content: center;
        .About-Address_icon {
          transform: translate( -5px,0);
        }
      }
    }

    .About-Languages {
      padding-bottom: 40px;
    }

    .About-Interests {
      padding-bottom: 40px;
      .About-InterestsList {
        .About-InterestsListItem{
          list-style: url("../../assets/images/list-arrow.png");
        }
      }
    }
  }

  .About-Skills {
    grid-row: 2;
    grid-column: 2;

    .About-SkillsList {
      list-style: circle;

      .About-Skill {
        display: inline-block;
      }
    }
  }

  .About-Education {
    grid-row: 3;
    grid-column: 2;

    .About-Institution {
      margin: 5%
    }
  }

  .About-Experience {
    grid-row: 4;
    grid-column: 2;
  }
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .About {
    padding: 5%;
    grid-template-columns: 100%;
    grid-template-rows: auto 4em auto auto auto auto auto;
    row-gap: 1%;
    grid-auto-flow: row;
    overflow: auto;

    .About-Avatar {
      width: 250px;
      height: 250px;
      justify-self: center;
    }

    .About-Name {
      grid-row: 2;
      grid-column: 1;
      font-size: 2em;
      margin-top: 0;
      align-self: start;
      justify-self: center;
    }

    .About-Contacts {
      grid-row: 3;
      grid-column: 1;
      align-self: start;
      justify-self: center;
      display: flex;
      flex-direction: column;

      * {
        align-self: center;
      }

      .About-Contact {
        font-size: 1.2em;
        *{
          padding-right: 0;
        }
      }

      .About-ContactsTitleContainer {
        display: none;
      }
      .About-ContactLinks {
        display: flex;
      }
    }

    .About-Skills {
      grid-column: 1;
      grid-row: 4;
    }

    .About-Education {
      grid-row: 5;
      grid-column: 1;
    }

    .About-Experience {
      grid-row: 6;
      grid-column: 1;
    }

    .About-SoftInfo {
      grid-row: 7;
      grid-column: 1;
      flex-direction: column-reverse;

      .About-Location {
        padding-bottom: 20px;
      }
      .About-Certificates {
        padding-bottom: 40px;
      }
    }
  }
}