$container-width: 768px;
$main-color: #282c34;
$secondary-color: #4f4f4f;
$font-family: 'Lucida Sans Unicode', 'Arial', serif;

$breakpoint-tablet-max: 1023px;
$breakpoint-mobile-max: 767px;

$red: #8B0000;
$red-inactive: #8B0000A0